
.Login {
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 15px #2b3776;
    background-color: whitesmoke;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; 
    font-size: 16px;
  }
  
  .log {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .lab {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  
  
  .afficher {
    margin-right: 5px;
  }
  
  
  .se {
    background-color:  #888;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }
  
  .se:hover {
    background-color:  #2b3776;
  }
  
  .N img {
    display: block;
    margin: auto;
  }
  